body{
    background-color: #fde9e2;
    margin: 0px;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.titulo{
    color: #581622;
    margin-top: 45px;
    font-size: 30px;
    padding: 0 0 10 25;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.info{
    color: #581622;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    text-align: center;
    padding: 0px 30px 60px 30px;
}
.footer{
    background-color: #581622;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px 5px 0px;
}
.rs{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
