body{
    background-color: #fde9e2;
    margin: 0px;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.titulo{
    color: #581622;
    margin-top: 45px;
    font-size: 30px;
    padding: 0 0 10 25;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.logo-mobile{
    display: none;
}
.contacto{
    color:#581622 ;
    font-size: large;
}
#map {
    height: 100%;
  }
  @media only screen and (max-width: 600px) {
    
    .header{
        align-items:center;
    }
    .titulo{
        font-size: 15px;
        text-align: center;
    }
    .logo-mobile{
        display: block;
    }
    .logo{
        display: none;
    }
    .generales{
        font-size: 20px;
        text-align: center;
    }
  }