body{
    margin: 0px;
    background-color: #fde9e2;
}
.logo{
    display: flex;
    align-items:center ;
    justify-content: center;
}
.logo-mobile{
    display: none;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 25px 0px 25px;
}
.titulos{
    color: gray;
   background-color:#581622 ;
   border-style: solid;
   border-color:#fde9e2 ;
   text-align: center;
}
@media only screen and (max-width: 600px) {
  }