body{
    background-color: #fde9e2;
    margin: 0px;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.titulo{
    color: #581622;
    margin-top: 30px;
    font-size: 30px;
    padding: 0 0 10 25;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.logo-mobile{
    display: none;
}
.generales{
    display: flex;
    justify-content: center;
    color: #581622;
    padding: 25px;
    font-size: 25px;
}
.tratamientos{
    color:#fde9e2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px 25px 70px 25px;
    gap: 50px;
    justify-content: center;
}
.etiquetas{
    background-color:#581622;
    border-color: #fde9e2;
    border-style: solid;
    border-width: 0px;
    text-align: center;
}
.collapsible {
    background-color: #581622;
    color: #fde9e2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
.content {
    padding: 0 18px;
    background-color:  #fde9e2;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: none;
    color: #581622;
    text-align: justify;
  }
.footer{
    background-color: #581622;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px 5px 0px;
}
.rs{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media only screen and (max-width: 600px) {
    
    .header{
        align-items:center;
    }
    .titulo{
        font-size: 15px;
        text-align: center;
    }
    .logo-mobile{
        display: block;
    }
    .logo{
        display: none;
    }
    .generales{
        font-size: 20px;
        text-align: center;
    }
    .content{
        max-height: 300px;
    }
  }